.row
    .col-xs-12
        h2 Welcome!
        p.
            Are you ready to make money?!<br/>
            Join now and you can!
        p.
            Join, see what jobs are available, get paid!<br/>
            See details inside.

