.card.card-info-outline#account_accordion
    .card-block
        .list-group.panel
            include ./_partials/_register
            include ./_partials/_statistics
            include ./_partials/_settings

