a.list-group-item(data-toggle="collapse", href="#statistics",data-parent="#account_accordion",aria-expanded="false") My Statistics
.collapse#statistics
    ul.list-group
        li.list-group-item.list-group-item-info Pending: 0
            p.text-muted Member who haven't registered yet.
        li.list-group-item.list-group-item-info Completed: 0
            p.text-muted Members who are registered, but currently on free trial.
        li.list-group-item.list-group-item-info Active: 0
            p.text-muted.
                Members who started paying for membership.
                <u><b>Now</b></u> you get paid when they pay every month.
        li.list-group-item.list-group-item-info Payment History - Total: $0
            ul.list-group
                li.list-group-item date - amount
                li.list-group-item date - amount
