// utils
script(type="text/javascript", src="_lib/jquery/dist/jquery.js")
script(type="text/javascript", src="_lib/tether/dist/js/tether.js")
script(type="text/javascript", src="_lib/toastr/toastr.js")
script(type="text/javascript", src="_lib/angular/angular.js")
script(type="text/javascript", src="_lib/bootstrap/dist/js/bootstrap.js")

script(type="text/javascript", src="_lib/angular-ui-router/release/angular-ui-router.js")

script(type="text/javascript", src="_lib/a0-angular-storage/dist/angular-storage.js")
script(type="text/javascript", src="_lib/angular-jwt/dist/angular-jwt.js")
script(type="text/javascript", src="_lib/moment/moment.js")

// app config
script(type="text/javascript", src="_config/boot.js")
script(type="text/javascript", src="_config/config.js")
script(type="text/javascript", src="_config/root.js")

// services
script(type="text/javascript", src="_services/admin-message-service.js")
script(type="text/javascript", src="_services/config-service.js")
script(type="text/javascript", src="_services/member-service.js")
script(type="text/javascript", src="_services/message-service.js")
script(type="text/javascript", src="_services/process-service.js")

// pages
script(type="text/javascript", src="_moguls/account/account.js")
script(type="text/javascript", src="_moguls/forgot-password/forgot-password.js")
script(type="text/javascript", src="_moguls/login/login.js")
script(type="text/javascript", src="_moguls/register/register.js")
script(type="text/javascript", src="_moguls/verify/verify.js")

//directives
script(type="text/javascript", src="_directives/auto-focus.js")

