.row
    .col-xs-12
        .card.card-info-outline
            h4.card-title
                .alert.alert-heading.alert-info Forgot Password
            .card-block(ng-if="!forgotPassword.code")
                form#email_form(ng-submit="forgotPassword.sendResetCode()")

                    .form-group
                        label.form-control-label(for="email") Email
                        input#email.form-control(type="email", ng-model="forgotPassword.email", ams-auto-focus='', tabindex=0, autocomplete="off", required, placeholder="Paypal associated email")
                    .form-group.text-xs-right
                        button.btn.btn-info(type="submit") Email Reset Instructions

            .card-block(ng-if="forgotPassword.code")
                form#password_form(ng-submit="forgotPassword.resetPassword()")
                    .form-group
                        label.form-control-label(for="password") Password
                        input#password.form-control(type="password", ng-model="forgotPassword.resetForm.password", ams-auto-focus='', autocomplete="off", tabindex=0, required, placeholder="New Password")

                    .form-group
                        label.form-control-label(for="confirm") Confirm
                        input#confirm.form-control(type="password", ng-model="forgotPassword.resetForm.password2", autocomplete="off",tabindex=0, required, placeholder="Confirm new password")

                    .form-group.text-xs-right
                        button.btn.btn-info(type="submit") Reset Password

